# created by virtualenv automatically
.venv/
build/
dist/
__pycache__/
faces/
model_data/
.cashe
PyWhatkit_DB.txt
testing.spec
vision.spec
yolov8n.pt
api_keys/
jarvis_functions/send_message_instagram/